



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
}



.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 80vh;
    /*border: solid thin black;*/
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    position: relative;
    /*border: solid 1px blue;*/
}

.score {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 10px;
    background-color: #f9f9f9d9;
    /*margin-top: 1em;*/
    border-radius: 3px;
    /*border: solid thin #ccc;*/
    top: 0 !important;
    border-left: dotted 2px rgb(158, 155, 155);
}

.score h3 {
    padding: 0 0 0 10px;
    color: rgb(106, 100, 100);
}


svg {
    width: 80vw !important;
    height: 100vh !important;
    /*border: solid thin red;*/
}

svg .poltrona {
    transition: fill .5s ease;
    cursor: pointer;
    fill: #383428;
}

.ativa {
    transition: fill .6s ease;
    fill: #ff0000d1 !important;
}

.modal {
  display: none;
  position: absolute;
  width: 5em;
  height: 5em;
  border: solid thin #ccc;
  background-color: rgba(255, 255, 255, 0.69);
  margin-top: -700px;
}


@media screen and (max-width: 425px) {
    .wripper {
        display: flex;
        justify-content: center;
        position: relative;
        width: 190vw;
        height: 90vh;
    }    
}



/***************************************************************************/

  /************************************************************************************************/
